Babel==2.3.4
debtcollector==1.4.0
ems==0.0.1.dev50
funcsigs==1.0.2
iso8601==0.1.11
lxml==3.6.0
monotonic==1.1
msgpack-python==0.4.7
netaddr==0.7.18
netifaces==0.10.4
oslo.config==3.9.0
oslo.context==2.3.0
oslo.i18n==3.6.0
oslo.log==3.7.0
oslo.serialization==2.6.0
oslo.utils==3.10.0
pbr==1.9.1
pkg-resources==0.0.0
pyinotify==0.9.6
python-dateutil==2.5.3
pytz==2016.4
requests==2.9.1
six==1.10.0
stevedore==1.13.0
Unidecode==0.4.19
wrapt==1.10.8
